<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
  <div class="gallery-sizer"></div>

  {% for picture in include.gallery.pictures %}
  <div class="image-wrapper
    {% if forloop.index0 | modulo: 2 == 0 %}
      left
    {% else %}
      {% unless forloop.last %}
        right
      {% else %}
        left
      {% endunless %}
    {% endif %}">

    <a href="{{ site.url }}{{ site.baseurl }}/assets/photos/{{ include.gallery.picture_path }}/{{ picture.original }}"
      data-responsive="{% for size in picture.sizes %} {{ site.url}}{{ site.baseurl }}/assets/photos/{{ include.gallery.picture_path }}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}"
      class="image"
      {% if picture.title %}data-sub-html="<div class='lg-toolbar caption'><h4>{{ picture.title | escape }}</h4>{% if picture.caption %}<p>{{ picture.caption | escape }}</p>{% endif %}</div>"{% endif %}>
      <img alt="{{ picture.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/photos/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}" />
    </a>

  </div>
  {% endfor %}
</div>

<script>
$(document).ready(function () {
  var $gallery{% if include.id_number %}{{ include.id_number }}{% endif %} =
    $("#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}").lightGallery({
      thumbnail: false,
      selector: '.image'
    });
});

// -- Isotope init --
var $grid{% if include.id_number %}{{ include.id_number }}{% endif %} =
$('#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}').isotope({
  percentPosition: true,
  itemSelector: '.image-wrapper',
  masonry: {
    columnWidth: '.image-wrapper'  // ← гол засвар
  }
});

// -- Layout refresh on images load --
$grid{% if include.id_number %}{{ include.id_number }}{% endif %}.imagesLoaded().progress(function () {
  $grid{% if include.id_number %}{{ include.id_number }}{% endif %}.isotope('layout'); // ← зөв layout дуудалт
});
</script>
