* { box-sizing: border-box; }

html { overflow-y: scroll; }

.image-gallery {
  display: block;
}

.image-wrapper {
  width: 50%;
  float: left;
  padding: 3px;
}

.image-wrapper img {
  display: block;
  width: 100%;
}

.image-gallery::after,
.row::after {
  content: '';
  display: block;
  clear: both;
}

.caption {
  position: static;
  color: #AAA;
}

.half-width {
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.half-width.right {
  margin-right: 0;
}

@media (max-width: 600px) {
  .row .half-width {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .row .left,
  .row .right {
    margin-right: 0;
    margin-left: 0;
  }
}
