* { box-sizing: border-box; }

html { overflow-y: scroll; }

/* 2 images per row layout */
.image-wrapper,
.gallery-sizer {
  width: 50%;
}

.image-gallery {
  display: block;
}

.image-wrapper {
  float: left;
  padding: 3px;
}

.image-wrapper img {
  display: block;
  width: 100%;
}

/* clearfix */
.image-gallery::after,
.row::after {
  content: '';
  display: block;
  clear: both;
}

.caption {
  position: static;
  color: #AAA;
}
