* {
  box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

/* 3 images per row */
.image-wrapper,
.gallery-sizer {
  width: 50%;
}

.image-gallery {
  display: block;
}

.image-wrapper {
  float: left;
  padding: 3px;
}

.image-wrapper .image {
  width: calc(100% + 1px);
  height: 100%;
}

/* clearfix */
.image-gallery::after {
  content: '';
  display: block;
  clear: both;
}

.caption {
  position: static;
  color: #AAA;
}
