* { box-sizing: border-box; }

html { overflow-y: scroll; }

.image-gallery {
  display: block;
}

.image-wrapper {
  width: 50%;     /* ← ЭНЭ ГОЛ ШИЙДЭЛ */
  float: left;
  padding: 3px;
}

.image-wrapper img {
  display: block;
  width: 100%;
}

/* clearfix */
.image-gallery::after,
.row::after {
  content: '';
  display: block;
  clear: both;
}

.caption {
  position: static;
  color: #AAA;
}

.half-width {
  float: left;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.half-width.right {
  margin-right: 0;
}
