---
layout: default
title: Ангиуд
permalink: /angi/
---

{% for gallery in site.data.galleries.overview %}
  {% assign i = forloop.index0 %}

  {% if i | modulo: 2 == 0 %}
  <div class="row">
  {% endif %}

    <div class="half-width gallery-preview {% if i | modulo: 2 == 0 %}left{% else %}right{% endif %}">
      <h2>{{ gallery.title }}</h2>
      <a href="{{ site.url }}{{ site.baseurl }}/angi/{{ gallery.directory }}">
        <img alt="{{ gallery.title }}"
             src="{{ site.url }}{{ site.baseurl }}/assets/photos/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
      </a>
    </div>

  {% if i | modulo: 2 == 1 or forloop.last %}
  </div>
  {% endif %}

{% endfor %}

<br>
<p><a href="https://code.bichig.dev/">буцах</a></p>
