<!DOCTYPE html>
<html lang="{{ site.lang | default: "mn-MN" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <title>{{ site.title | default: site.github.repository_name }}</title>
{% seo %}
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

    <!-- Android Icons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    
    <!-- Android Chrome-specific -->
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
            <a href="/about" class="btn">Багш нар</a>
            <a href="/angi/" class="btn">Элсэлт</a>
            <a href="/faq" class="btn">Асуулт</a>
            <a href="/contact" class="btn">Холбогдох</a>
            <a href="/elselt" target="_blank" class="btn">Бүртгүүлэх</a>
            <a href="https://fb.me/code.bichig.dev" target="_blank" class="btn">Facebook</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
