<!DOCTYPE html>
<html lang="{{ site.lang | default: "mn-MN" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <title>{{ page.title | default: site.github.repository_name }}</title>
{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>Код бичигдэв</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
            <a href="/about" class="btn">Багш нар</a>
            <a href="/faq" class="btn">Асуулт</a>
            <a href="/contact" class="btn">Холбогдох</a>
            <a href="/elselt" target="_blank" class="btn">Бүртгүүлэх</a>
            <a href="https://fb.me/code.bichig.dev" target="_blank" class="btn">Facebook</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
